@font-face{
    font-family: 'Julius Sans One';
    src: url('fonts/JuliusSansOne-Regular.ttf');
}

@font-face{
    font-family: 'Karma';
    src: url('fonts/Karma-Regular.ttf');
}

@font-face{
    font-family: 'Unthrift Second Personal';
    src: url('fonts/UnthriftSecPersonal.ttf');
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
  
li{
    float: right;
   
}


.features{
    top: 68px;
    left: 1214px;
    width: 96px;
    height: 19px;
    text-align: left;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 5.6px;
    color: #212121;
    opacity: 1;
    position: absolute;
}

.contacts{
    top: 68px;
    left: 1358px;
    width: 96px;
    height: 19px;
    text-align: left;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 5.6px;
    color: #212121;
    opacity: 1;
    position: absolute;
}

.search-icon{
    top: 69px;
    left: 1502px;
    width: 16px;
    height: 16px;
    color: #9E9E9E;
    position: absolute;
}

.page-header{
    position: absolute;
   }
   
.header-title{      
    padding-top: 44px;
    padding-left: 400px;
    width: 155px;
    height: 60px;
    text-align: left;
    font: normal normal normal 45px/60px Julius Sans One;
    letter-spacing: 0px;
    color: #212121;
    opacity: 1;
    position: absolute;
   }

#circle{
    top: 45px;
    left: 452px;
    width: 64px;
    height: 64px;
    background: #FFF700;
    opacity: 1;
    border-radius: 100%;
    position: absolute;
}

.luxury-tag{
    top: 150px;
    left: 400px;
    width: 360px;
    height: 125px;
    text-align: left;
    font: normal normal normal 94px/125px Julius Sans One;
    letter-spacing: 5.26px;
    color: #212121;
    opacity: 1;
    position: absolute;
}

.luxury-details{
    top: 384px;
    left: 400px;
    width: 448px;
    height: 53px;
    text-align: left;
    font: normal normal normal 18px/27px Karma;
    letter-spacing: 0px;
    color: #9E9E9E;
    opacity: 1;
    border: none;
    position: absolute;
}

.luxury-button{
    top: 501px;
    left: 400px;
    width: 170px;
    height: 56px;
    background: #212121 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 1.68px;
    color: #FFFFFF;
}

.road-background{
    padding-top: 0px;
    padding-left: 0px;
    width: 1920px;
    height: 700px;
    opacity: 1;
}

.trees-background{
    /* padding-top: 200px; */
    padding-left: 0px;
    width: 1920px;
    height: 700px;
    opacity: 1;
}
.cameraman-image{
    position: absolute;
    width: 384px;
    height: 565px;
    opacity: 1;
}

.about-background{
    background-color: #FFFFFF;
    opacity: 1;
    top: 923px;
    left: 400px;
    width: 1120px;
    height: 427px;
    position: absolute;
}

.about{
    top: 43px;
    left: 688px;
    width: 117px;
    height: 43px;
    text-align: left;
    font: normal normal normal 32px/43px Julius Sans One;
    letter-spacing: 3.84px;
    color: #212121;
    opacity: 1;
    position: absolute;
}

.about-paragraph{
    top: 155px;
    left: 480px;
    width: 544px;
    height: 107px;
    text-align: center;
    font: normal normal normal 18px/27px Karma;
    letter-spacing: 0px;
    color: #9E9E9E;
    opacity: 1;
    position: absolute;
}

.read-more-button{
    top: 318px;
    left: 706px;
    width: 109px;
    height: 29px;
    text-align: center;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 1.68px;
    color: #212121;
    opacity: 1;
    display: inline-block;
    position: absolute;
    background-color: white;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom-color: black;

}

#pointer-circle{
    top: 1525px;
    left: 448px;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background: #FBFBFB 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.pointer-icon{
    top: 1581px;
    left: 510px;
    width: 36px;
    height: 48px;
    opacity: 1;
    position: absolute;
}
.pointer-tag{
    top: 1680px;
    left: 469px;
    width: 108px;
    height: 31px;
    text-align: left;
    font: normal normal normal 23px/31px Julius Sans One;
    letter-spacing: 2.76px;
    color: #212121;
    opacity: 1;
    position: absolute;
}
.pointer-description{
    top: 1774px;
    left: 400px;
    width: 256px;
    height: 71px;
    text-align: center;
    font: normal normal normal 16px/24px Karma;
    letter-spacing: 0px;
    color: #9E9E9E;
    opacity: 1;
    position: absolute;
}

#plane-circle{
    top: 1685px;
    left: 880px;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background: #FBFBFB 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.plane-icon{
    top: 1741px;
    left: 936px;
    width: 48px;
    height: 48px;
    opacity: 1;
    position: absolute;
}
.plane-tag{
    top: 1480px;
    left: 918px;
    width: 79px;
    height: 31px;
    text-align: left;
    font: normal normal normal 23px/31px Julius Sans One;
    letter-spacing: 2.76px;
    color: #212121;
    opacity: 1;
    position: absolute;
}
.plane-description{
    top: 1574px;
    left: 832px;
    width: 256px;
    height: 71px;
    text-align: center;
    font: normal normal normal 16px/24px Karma;
    letter-spacing: 0px;
    color: #9E9E9E;
    opacity: 1;
    position: absolute;
}

#map-circle{
    top: 1525px;
    left: 1312px;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background: #FBFBFB 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.map-icon{
    top: 1581px;
    left: 1368px;
    width: 48px;
    height: 48px;
    opacity: 1;
    position: absolute;
}
.map-tag{
    top: 1680px;
    left: 1364px;
    width: 54px;
    height: 31px;
    text-align: left;
    font: normal normal normal 23px/31px Julius Sans One;
    letter-spacing: 2.76px;
    color: #212121;
    opacity: 1;
    position: absolute;
}
.map-description{
    top: 1774px;
    left: 1264px;
    width: 256px;
    height: 71px;
    text-align: center;
    font: normal normal normal 16px/24px Karma;
    letter-spacing: 0px;
    color: #9E9E9E;
    opacity: 1;
    position: absolute;
}

.locations-flex{
    display: flex;
    flex-flow: row;
    top: 1975px;
    position: absolute;
}

.ras-alkhaimah{
    top: 2518px;
    left: 400px;
    width: 256px;
    height: 107px;
    text-align: left;
    font: normal normal normal 23px/31px Julius Sans One;
    letter-spacing: 2.76px;
    color: #212121;
    opacity: 1; 
    position: absolute;
}
.ras-description{
    top: 54px;
    width: 256px;
    height: 47px;
    font: normal normal normal 16px/24px Karma;
    letter-spacing: 0px;
    color: #9E9E9E;

}
.view-button{
    top: 125px;
    width: 54px;
    height: 29px;
    text-align: center;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 1.68px;
    background-color: white;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom-color: black;
}

.dubai{
    top: 2518px;
    left: 832px;
    width: 256px;
    height: 47px;
    text-align: center;
    font: normal normal normal 23px/31px Julius Sans One;
    letter-spacing: 2.76px;
    color: #212121;
    opacity: 1; 
    position: absolute;
}
.dubai-description{
    top: 54px;
    width: 256px;
    height: 47px;
    font: normal normal normal 16px/24px Karma;
    letter-spacing: 0px;
    color: #9E9E9E;
}

.abu-dhabi{
    top: 2518px;
    left: 1264px;
    width: 256px;
    height: 47px;
    text-align: right;
    font: normal normal normal 23px/31px Julius Sans One;
    letter-spacing: 2.76px;
    color: #212121;
    opacity: 1;
    position: absolute; 
}
.abu-dhabi-description{
    top: 54px;
    width: 256px;
    height: 47px;
    font: normal normal normal 16px/24px Karma;
    letter-spacing: 0px;
    color: #9E9E9E;
}

.hotels{
    top: 2801px;
    left: 0px;
    width: 1920px;
    height: 905px;
    display: flex;
    flex-flow: row;
    background: #FBFBFB 0% 0% no-repeat padding-box;
    background-color: #FBFBFB;
    opacity: 1;
    position: absolute;
}

.hotels-tag{
    top: 73px;
    left: 888px;
    width: 130px;
    height: 43px;
    text-align: left;
    font: normal normal normal 32px/43px Julius Sans One;
    letter-spacing: 3.84px;
    color: #212121;
    opacity: 1;
    position: absolute;
}

.hotel-card{
    top: 195px;
    left: 400px;
    margin-right: 32px;
    width: 352px;
    height: 536px;
    text-align: center;
    background-color: #FBFBFB;
    background: #FFFFFF;
    position: relative;
}
.hotel-name{
    left: 80px;
    width: 200px;
    height: 31px;
    text-align: center;
    font: normal normal normal 23px/31px Julius Sans One;
    letter-spacing: 2.76px;
    color: #212121;
    position: relative;
}
.hotel-description{
    left: 48px;
    width: 256px;
    height: 71px;
    text-align: center;
    font: normal normal normal 16px/24px Karma;
    letter-spacing: 0px;
    color: #9E9E9E;
    position: relative;
}
.left-line{
    margin-top: 22px;
    margin-left: 40px;
    width: 84px;
    height: 1px;
    background: #E0E0E0 0% 0% no-repeat padding-box;
    opacity: 0.5;
    position: absolute;
}
.right-line{
    margin-top: 22px;
    margin-left: 220px;
    width: 84px;
    height: 1px;
    background: #E0E0E0 0% 0% no-repeat padding-box;
    opacity: 0.5;
    position: absolute;

}
.hotel-price{
    left: 156px;
    width: 47px;
    height: 32px;
    text-align: left;
    font: normal normal bold 24px/32px Karma;
    letter-spacing: 2.88px;
    color: #212121;
    position: relative;
}


.book-button{
    background: transparent;
    text-align: center;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 1.68px;
    color: #212121;
    width: 169px;
    height: 56px;
    border: 1px solid #212121;
    opacity: 1;
}

.arrows{
    display: flex;
    flex-flow: row;
    top: 800px;
    left: 900px;
    width: 124px;
    height: 14px;
    background: #FBFBFB 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.left-arrow{
    padding-right: 100px;
}

.page-footer{
    top: 3746px;
    left: 400px;
    width: 1111px;
    height: 68px;
    display: flex;
    flex-flow: row;
    position: absolute;
}
.nav-bar{
    top: 26px;
    left: 400px;
    width: 286px;
    height: 19px;
    display: flex;
    flex-flow: row;
}
.nav-content{
    top: 0px;
    left: 111px;
    padding-right: 50px;
    width: 100px;
    height: 19px;
    text-align: left;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 5.6px;
    color: #212121;
    
}
.tourism-tag{
    bottom: 5px;
    left: 505px;
    width: 111px;
    height: 43px;
    text-align: left;
    font: normal normal normal 32px/43px Julius Sans One;
    letter-spacing: 0px;
    color: #9E9E9E;
    position: absolute;
}
.copy-rights{
    top: 20px;
    left: 480px;
    width: 190px;
    height: 15px;
    text-align: left;
    font: normal normal normal 11px/15px Open Sans;
    letter-spacing: 0px;
    color: #9E9E9E;
    position: absolute;
}

.media-icons{
    top: 10px;
    left: 1060px;
    padding-right: 10px;
    width: 63px;
    height: 20px;
    display: flex;
    flex-flow: row;
    position: absolute;
}
#twitter{
    padding-right: 20px;
}