@font-face {
    font-family: 'Julius Sans One';
    src: url('fonts/JuliusSansOne-Regular.ttf');
}

@font-face {
    font-family: 'Karma';
    src: url('fonts/Karma-Regular.ttf');
}

@font-face {
    font-family: 'Unthrift Second Personal';
    src: url('fonts/UnthriftSecPersonal.ttf');
}

ul {
    list-style-type: none;
}

* {
    box-sizing: border-box;
}

.page-header {
    width: 1920px;
    height: 700px;
    padding: 0 400px;
    background-image: url("images/Tourism.png");
}

.header-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-title {
    font: normal normal normal 45px/60px Julius Sans One;
    letter-spacing: 0px;
    color: #212121;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.header-title::after {
    content: " ";
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color: #FFF700;
    position: absolute;
    z-index: -1;
}

.nav-list {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 306px;
}

.header-info {
    font: normal normal normal 14px/0px Open Sans;
    letter-spacing: 5px;
    color: #212121;
}

.header-info > img {
    width: 16px;
    height: 28px;
}

.luxury {
    width: 448px;
    height: auto;
    justify-content: space-between;
}

.luxury-tag {
    font: normal normal normal 94px/125px Julius Sans One;
    letter-spacing: 5.26px;
    color: #212121;
}

.luxury-details {
    margin-top: -60px;
    width: 448px;
    font: normal normal normal 18px/27px Karma;
    letter-spacing: 0px;
    color: #9E9E9E;
}

.luxury-button {
    margin-top: 20px;
    width: 170px;
    height: 56px;
    background: #212121;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 1.68px;
    color: #FFFFFF;
}

.about {
    background-image: url("images/Mask\ Group\ 111.png");
    width: 1920px;
    height: 700px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
}

.about-background {
    width: 736px;
    height: 427px;
    margin-top: 223px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: #FFFFFF;
}

.cameraman-image {
    margin-top: 223px;
    width: 384px;
    height: 565px;
}

.about-tag {
    font: normal normal normal 32px/43px Julius Sans One;
    letter-spacing: 3.84px;
    color: #212121; 
}

.about-paragraph {
    width: 544px;
    height: 107px;
    font: normal normal normal 18px/27px Karma;
    letter-spacing: 0px;
    color: #9E9E9E;
}

.read-more-button {
    width: 109px;
    height: 29px;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 1.68px;
    color: #212121;
    display: inline-block;
    background-color: white;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom-color: black;
}

.middle-features {
    margin-left: 400px;
    margin-top: 770px;
    width: 1120px;
    height: 400px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.pointer {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.pointer-circle {
    margin: auto;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background: #FBFBFB;
    position: relative;
}

.pointer-icon {
    margin-left: 110px;
    transform: translateY(150%);
    width: 36px;
    height: 48px;
    display: flex;
    position: absolute;
}

.pointer-tag {
    margin-left: 70px;
    width: 108px;
    height: 31px;
    font: normal normal normal 23px/31px Julius Sans One;
    letter-spacing: 2.76px;
    color: #212121;
    position: relative;
}

.pointer-description {
    width: 256px;
    height: 71px;
    text-align: center;
    font: normal normal normal 16px/24px Karma;
    letter-spacing: 0px;
    color: #9E9E9E;
    position: relative;
}

.plane-icon {
    margin-left: 110px;
    margin-top: 280px;
    width: 36px;
    height: 48px;
    position: absolute;
}

.locations-flex {
    display: flex;
    flex-flow: row;
    margin-top: 50px;
}

.locations {
    height: 300px;
    width: 1500px;
    margin: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.ras-alkhaimah {
    text-align: left;
    font: normal normal normal 23px/31px Julius Sans One;
    letter-spacing: 2.76px;
    color: #212121;
}

.location-description {
    top: 54px;
    width: 256px;
    height: 47px;
    font: normal normal normal 16px/24px Karma;
    letter-spacing: 0px;
    color: #9E9E9E;
}

.view-button {
    top: 125px;
    width: 54px;
    height: 29px;
    text-align: center;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 1.68px;
    background-color: white;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom-color: black;
}

.dubai {
    text-align: center;
    font: normal normal normal 23px/31px Julius Sans One;
    letter-spacing: 2.76px;
    color: #212121;
}

.abu-dhabi {
    top: 2518px;
    left: 1264px;
    width: 256px;
    height: 47px;
    text-align: right;
    font: normal normal normal 23px/31px Julius Sans One;
    letter-spacing: 2.76px;
    color: #212121;
}

.hotels {
    width: 1920px;
    height: 850px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color: #FBFBFB;
    padding: 0 416px;
    position: relative;
}

.hotels-tag {
    text-align: center;
    font: normal normal normal 32px/43px Julius Sans One;
    letter-spacing: 3.84px;
    color: #212121;
}

.hotel-cards {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: #FBFBFB;
    position: relative;
}

.hotel-card {
    width: 352px;
    height: 536px;
    text-align: center;
    background-color: #FBFBFB;
    background: #FFFFFF;
    position: relative;
}

.hotel-name {
    left: 80px;
    width: 200px;
    height: 31px;
    text-align: center;
    font: normal normal normal 23px/31px Julius Sans One;
    letter-spacing: 2.76px;
    color: #212121;
    position: relative;
}

.hotel-description {
    left: 48px;
    width: 256px;
    height: 71px;
    text-align: center;
    font: normal normal normal 16px/24px Karma;
    letter-spacing: 0px;
    color: #9E9E9E;
    position: relative;
}

.left-line {
    margin-top: 22px;
    margin-left: 40px;
    width: 84px;
    height: 1px;
    background: #E0E0E0;
    opacity: 0.5;
    position: absolute;
}

.right-line {
    margin-top: 22px;
    margin-left: 220px;
    width: 84px;
    height: 1px;
    background: #E0E0E0;
    opacity: 0.5;
    position: absolute;
}

.hotel-price {
    left: 156px;
    width: 47px;
    height: 32px;
    text-align: left;
    font: normal normal bold 24px/32px Karma;
    letter-spacing: 2.88px;
    color: #212121;
    position: relative;
}

.book-button {
    background: transparent;
    text-align: center;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 1.68px;
    color: #212121;
    width: 169px;
    height: 56px;
    border: 1px solid #212121;
}

.arrows {
    display: flex;
    flex-flow: row;
    justify-content: center;
    height: 14px;
    background: #FBFBFB;
    padding: 0 500px;
}

.page-footer {
    width: 1920px;
    padding: 26px 400px;
}

.nav-bar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.nav-content {
    width: 286px;
    height: 19px;
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 5px;
    color: #212121; 
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.middle-footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.tourism-tag {
    height: 0px;
    text-align: center;
    font: normal normal normal 32px/0px Julius Sans One;
    letter-spacing: 0px;
    color: #9E9E9E;
}

.copy-rights {
    width: 200px;
    height: 0px;
    text-align: center;
    font: normal normal normal 11px/0px Open Sans;
    letter-spacing: 0px;
    color: #9E9E9E;
}

.media-icons {
    width: 63px;
    height: 20px;
    display: flex;
    flex-flow: row;
}

#twitter {
    padding-right: 20px;
}